# Fichier de configuration pour les variables d'environnement
# BOT_TOKEN est OBLIGATOIRE (le token de votre bot Discord)
BOT_TOKEN=
BOT_ID=
# GUILD_ID est OBLIGATOIRE (l'ID de votre serveur Discord)
GUILD_ID=
# Clé pour l'API Giphy (pour les commandes liés aux intéractions avec des gifs)
GIPHY_API_KEY=

# ID Channels
CONFESS_CHANNEL_ID=
READY_CHANNEL_ID=
FEATURES_CHANNEL_ID=
SUGGEST_CHANNEL_ID=

# DB CONFIG
MONGODB_URI=
MONGODB_PASSWORD=